@mixin free-shipping-style {
  .card-header {
    font-weight: 700;
    background-color: white;
  }

  .card-body {
    div.dash {
      margin-top: 16px;
      border: dashed 1px #e1e1e1;
      padding: 16px;

      div.btn-switch {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          cursor: pointer;
        }

        i.fa-toggle-on {
          color: #1b7ee0;
        }
      }

      i a {
        text-decoration: underline;
        color: #1b7ee0;
      }
    }
  }
}