div#order-return-about {
  a.redirect-order {
    position: absolute;
    top: 8px;
    right: 16px;
    font-weight: bold;
    color: #1b7ee0;
    cursor: pointer;
  }

  .action {
    margin-top: 10px;

    button:not(:first-of-type) {
      margin-left: 1em;
    }
  }
}
