$color-primary: #1976d2;
$color-success: #92c755;
$color-info: #0ab1fc;
$color-danger: #f55145;
$color-mint: #29b2a6;
$color-warning: #ffb80f;
$color-pink: #ed417b;
$color-purple: #b052c0;
$color-dark: #414c57;